numpy~=2.4.4
pandas~=3.0.2
seaborn~=0.13.2
matplotlib~=3.10.9
dotenv~=0.9.9
python-dotenv~=1.2.2
imblearn~=0.0
imbalanced-learn~=0.14.1
joblib~=1.5.3
mlxtend~=0.24.0
scipy~=1.17.1
scikit-learn~=1.8.0
scikit-optimize~=0.10.2
xgboost~=3.2.0